*{
  margin: 0%;
  
}
form{
  width: fit-content;
  overflow-y: hidden;
  margin: 50px auto;
 background-color: rgb(255, 255, 255);
 border-color: black;
}
.sub{
  display:none;
}
body{
  background-color: rgb(170, 194, 170);
  color: black;
  font-size: 20px;
  
}